*{padding: 0;
  margin: 0;
  font-family: "微软雅黑";
  list-style: none;
}
body{
	overflow-x: hidden;
	position: relative;
}
header{
	width: 1920px;
	height: 36px;
	background:#333333;
	margin: 0 auto;
}
a{
	text-decoration: none;
}
.keshi1{
	width: 1200px;
	margin: 0 auto;
}
.keshi1 .a1,.keshi1 .you a{
	font-size: 14px;
	color: #999999;
	line-height: 36px;
}
.keshi1 a:hover{
	color: white;
}
.keshi1 .you{
	float: right;
}
.keshi1 .you li a{
	margin-left: 10px;
}
.daohang{
	width: 1920px;
	height: 90px;
	background: white;
	margin:0 auto;
	z-index: 1;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}
.daohangn{
	width: 1200px;
	height: 90px;
	margin: 0 auto;
}
.daohangzhanwei{
	width: 1920px;
	height: 90px;
	margin: 0 auto;
}
.logo{
	margin-top: 20px;
	float: left;
}
.daohang ul{
	width: 800px;
	line-height: 90px;
	text-align: center;
	position: relative;
	left: 50px;
}
.daohang ul li{
	float: left;
	margin-left: 15px;
}
.daohang ul li a{
	padding-bottom: 5px;
	color: #333333;
}
.daohang ul li a:hover{
	color: #d10001;
}
.daohangn p{
	line-height: 90px;
	float:right;
}
.daohangn p input{
	width: 256px;
	background: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid black;
	outline: none;
}
.banner{
	margin: 0 auto;
	top:0px;
	left:0px;
	width:1920px;
	height:500px;
	overflow:hidden;
	position:relative;
}
.banner .img{
	width:9600px;
	position:absolute;
	left:0;
	right:0;
}
.banner .img li{
	float:left;
}
.banner .num{
	position:absolute;
	width:100%;
	bottom:10px;
	left:0;
	text-align:center;
	font-size:0px;
}
.banner .num li{
	transform:skew(-30deg);
	width:30px;
	height:6px;
	background:#999999;
	display:inline-block;
	margin:0 3px;
	cursor:pointer;
}
.banner .num li.on{
	background:#D10001;
	transition: all 500ms;
}
.banner .btn{
	width:30px;
	height:100px;
	background:rgba(0,0,0,0.3);
	position:absolute;
	top:50%;
	margin-top:-50px;
	cursor:pointer;
	text-align:center;
	line-height:100px;
	color:#FFF;
	font-size:40px;
	font-family:"宋体";
	display:none;
}
.banner:hover .btn{
	display:block;
}
.banner .btn_l{
	left:0;
}
.banner .btn_r{
	right:16px;
}

.diyikuai{
	width: 1920px;
	height: 430px;
	margin: 0 auto;
}
.diyikuain{
	padding-top: 24px;
	width: 1200px;
	height: 406px;
	margin: 0 auto;
}
.biaoti{
	height: 30px;
	font-size: 24px;
	font-weight: 600;
}
.biaoti a{
	font-size: 14px;
	color: grey;
	margin-top: 10px;
}
.biaoti a:hover{
	color: #D10001;
}
.biaoti p{
	margin-left: 20px;
}
.biaoti div{
	margin-top: 4px;
	width: 5px;
	height: 26px;
	background: #D10001;
	float: left;
}
.biaoti .xia{
	background: none;
	width: 100px;
	line-height: 30px;
	margin-left: 20px;
}
.diyikuain ul li p{
	font-size: 14px;
	color: white;
	margin-left: 10px;
}
.diyikuain ul li .p1{
	margin-top: 3px;
}
.diyikuain ul li span{
	font-size: 18px;
	color: #D10001;
	font-weight: 600;
}
.diyikuain ul li{
	overflow: hidden;
  float: left;
	margin-left: 50px;
	margin-top: 20px;
	width: 230px;
	height: 326px;
	position: relative;
	cursor: pointer;
}
.diyikuain ul li div{
	width: 230px;
	height: 50px;
	background:rgba(0,0,0,0.6) ;
	position: absolute;
	bottom: 0;
}
.diyikuain ul li:hover{
	box-shadow: 0px 0px 10px #333333;
}
.diyikuain ul li:hover img{
	transform: scale(1.05);
	transition: 500ms;
}
.dierkuai{
	width: 1920px;
	height: 580px;
	margin: 0 auto;
}
.dierkuain{
	width: 1200px;
	height: 580px;
	margin: 0 auto;
}
.zuo{
	margin-right: 30px;
	margin-left: -120px;
	float: left;
	width: 376px;
	height: 484px;
	margin-top: 24px;
	background: url(../img/GAMEER_12.jpg);
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.yc1{
	transition:500ms;
	position: absolute;
	top:-484px;
	line-height: 484px;
	text-align: center;
	color: white;
	width: 376px;
	height: 484px;
	background: rgba(0,0,0,0.7);
	font-size: 24px;
	font-weight: 600;
	opacity: 0;
	
}
.zuo:hover .yc1{
	opacity: 1;
	top: 0;
}
.you2{
	margin-top: 24px;
	width: 1200px;
	height: 500px;
}
.you2 li{
	margin-left: 30px;
	position: relative;
	cursor: pointer;
	width: 234px;
	height: 234px;
	line-height: 234px;
	text-align: center;
  color: white;
  font-size: 24px;
  font-weight: 600;
	float: left;
	overflow: hidden;
}
.yc2{
	background: rgba(0,0,0,0.7);
	width: 234px;
	height: 234px;
	position: absolute;
	top: -234px;
	opacity: 0;
	transition: 500ms;
}
.l1{
	background: url(../img/GAMEER_14.jpg);
}
.l2{
	background: url(../img/GAMEER_16.jpg);
}
.l3{
	background: url(../img/GAMEER_18.jpg);
}
.l4{
	background: url(../img/GAMEER_23.jpg);
}
.l5{
	background: url(../img/GAMEER_24.jpg);
}
.l6{
	background: url(../img/GAMEER_25.jpg);
}
.you2 li:hover .yc2{
	opacity: 1;
	top: 0;
}
.disankuai{
	width: 1920px;
	height: 770px;
	margin: 0 auto;
}
.disankuain{
	width: 1200px;
	height: 770px;
	margin: 0 auto;
}
.xiaoban{
	overflow: hidden;
	border: 3px solid #333333;
	position: relative;
	margin-top: 24px;
	width: 1194px;
	height: 300px;
	background: url(../img/GAMEER_30.jpg);
}
.guang{
	position: absolute;
	left: -600px;
	animation: move 6s infinite;
}
@keyframes  move{
	0%{left: -600px;}
	100%{left: 1400px;}
}
.disankuain ul{
	width: 1200px;
	height: 350px;
	margin-top: 24px;
}
.disankuain ul li{
	width: 286px;
	height: 300px;
	float: left;
	cursor: pointer;
	margin-left: 18.5px;
}
.wen p{
	text-align: center;
}
.wen span{
	color:#D10001;
}
.daoshu2{
	width: 1920px;
	height: 158px;
	margin: 0 auto;
}
.daoshu2n{
	width: 1200px;
	height: 198px;
	margin: 0 auto;
	position: relative;
}
.daoshu2n .div1{
	width: 500px;
	height: 1px;
	background: #333333;
	margin-top: 16px;
	position: absolute;
	left: 0;
}
.daoshu2n .div2{
	width: 500px;
	height: 1px;
	background: #333333;
	margin-top: 16px;
	position: absolute;
	right: 0;
}
.daoshu2n p{
	text-align: center;
	font-size: 24px;
}
.daoshu2n .dl{
	cursor: pointer;
	width: 60px;
	height: 30px;
	background: #D10001;
	border-radius: 3px;
	margin: 10px auto;
	color: white;
	font-size: 20px;
}
.daoshu2n .dl:hover{
	background: #f10001;
}
footer{
	width: 1920px;
	height: 110px;
	background: black;
	margin: 0 auto;
}
.footern{
	color: #999999;
	width: 1200px;
	height: 110px;
	background: black;
	margin: 0 auto;
}
.footern ul{
	width: 1200px;
	height: 50px;
	margin-left: 130px;
}
.footern ul li{
	margin-top: 14px;
	float: left;
	margin-left: 30px;
	cursor: pointer;
}
.footern p{
	margin-left: 152px;
	float: left;
}