*{padding: 0;
  margin: 0;
  font-family: "微软雅黑";
  list-style: none;
}
body{
   overflow-x:hidden;
	position: relative;
}
.beijing{
	background: #F6F6F6;
	width: 1920px;
	height: 3110px;
	margin: 0 auto;
}
header{
	width: 1920px;
	height: 36px;
	background:#333333;
	margin: 0 auto;
}
a{
	text-decoration: none;
}
.keshi1{
	width: 1200px;
	margin: 0 auto;
}
.keshi1 .a1,.keshi1 .you a{
	font-size: 14px;
	color: #999999;
	line-height: 36px;
}
.keshi1 a:hover{
	color: white;
}
.keshi1 .you{
	float: right;
}
.keshi1 .you li a{
	margin-left: 10px;
}
.daohang{
	width: 1920px;
	height: 90px;
	background: white;
	margin:0 auto;
	z-index: 271;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}
.daohangn{
	width: 1200px;
	height: 90px;
	margin: 0 auto;
}
.daohangzhanwei{
	width: 1920px;
	height: 90px;
	margin: 0 auto;
}
.logo{
	margin-top: 20px;
	float: left;
}
.daohang ul{
	width: 800px;
	line-height: 90px;
	text-align: center;
	position: relative;
	left: 50px;
}
.daohang ul li{
	float: left;
	margin-left: 15px;
}
.daohang ul li a{
	padding-bottom: 5px;
	color: #333333;
}
.daohang ul li a:hover{
	color: #d10001;
}
.daohangn p{
	line-height: 90px;
	float:right;
}
.daohangn p input{
	width: 256px;
	background: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid black;
	outline: none;
}
.tishi{
	width: 1200px;
	height: 46px;
	line-height: 46px;
	margin: 0 auto;
	color: #666666;
}
.zhong{
	width: 1200px;
	height: 2800px;
	background: white;
	margin: 0 auto;
	border-radius: 5px;
	margin-bottom: 30px;
}
.zhong .zuobian{
	width: 720px;
	height: 500px;
	position: relative;
	top: 10px;
	border-radius: 10px;
	overflow: hidden;
	margin-left: 22px;
	float: left;
}
.zhong .zuobian li{
	width: 119px;
	height: 500px;
	overflow: hidden;
	border-right: 1px solid white;
	transition:all 1s;
}
.d1{
	position: absolute;
	top: 0;
	left: 0;
}
.d2{
	position: absolute;
	right: 0;
	left: 120px;
}
.d2 img{
	margin-left: -120px;
}
.d3{
	position: absolute;
	top: 0;
	left: 240px;
}
.d3 img{
	margin-left: -240px;
}
.d4{
	position: absolute;
	top: 0;
	left: 360px;
}
.d4 img{
	margin-left: -360px;
}
.d5{
	position: absolute;
	top: 0;
	left: 480px;
}
.d5 img{
	margin-left: -480px;
}
.d6{
	position: absolute;
	top: 0;
	left: 600px;
}
.d6 img{
	margin-left: -600px;
}
.youbian{
	margin-top: 20px;
	margin-right: 22px;
	float: right;
	width: 410px;
	height: 500px;
}
.youbian p{
	margin-top: 4px;
	color: #999999;
}
.youbian .jiaqianb{
	margin: 20px 0;
	width: 410px;
	height: 54px;
	overflow: hidden;
	background: url(../img/three/di.png);
}
.youbian .yi{
 	margin-left: 30px;
	 line-height: 50px;
	 float: left;
	 color: white;
	 font-weight: 600;
}
.youbian .er{
	margin-right: 30px;
	line-height: 50px;
	color: white;
	float: right;
}
.PC{
	font-size: 14px;
	cursor: pointer;
	text-align: center;
	line-height: 25px;
	font-weight: 600;
	margin-left: 10px;
	background: url(../img/three/xuanzhong.png);
	width: 64px;
	height: 25px;
	float: left;
}
.PS3{
	font-size: 14px;
	cursor: pointer;
	text-align: center;
	line-height: 25px;
	font-weight: 600;
	margin-left: 120px;
	background:url(../img/three/weixuanzhong.png);
	width: 64px;
	height: 25px;
}
.bz{
	font-size: 14px;
  margin-left: 51px;
	margin-top: -22px;
	cursor: pointer;
	text-align: center;
	line-height: 25px;
	font-weight: 600;
	background: url(../img/three/xuanzhong.png);
	width: 64px;
	height: 25px;
	float: left;
}
.hh{
	font-size: 14px;
	margin-top: -22px;
	cursor: pointer;
	text-align: center;
	line-height: 25px;
	font-weight: 600;
	margin-left: 5px;
	background: url(../img/three/weixuanzhong.png);
	width: 64px;
	height: 25px;
	float: left;
}
.hj{
	font-size: 14px;
	margin-top: -22px;
	cursor: pointer;
	text-align: center;
	line-height: 25px;
	font-weight: 600;
	margin-left: 189px;
	background:url(../img/three/weixuanzhong.png);
	width: 64px;
	height: 25px;
}
.youbian .lg{
	margin-top: 24px;
	width: 200px;
	height: 46px;
	border-radius: 3px;
	border: 1px solid #D10001;
	line-height: 46px;
	text-align: center;
	float: left;
}
.youbian .jr{
	margin-left: 8px;
	margin-top: 24px;
	width: 196px;
	height: 46px;
	border-radius: 3px;
	background: #D10001;
	line-height: 46px;
	text-align: center;
	float: left;
}
.youbian .lg p{
	 margin: 0;
	 font-weight: 600;
}
.youbian .jr p{
  	margin: 0;
	 font-weight: 600;
}
.zhong .xian2{
	margin: 20px 22px;
	width: 1156px;
	height: 1px;
	background: #666666;
	float: left;
}
.xzuo{
	font-size: 14px;
	float: left;
	width: 300px;
	height: 1010px;
	border:1px solid #DDDDDD;
	margin-left: 22px;
	margin-top: 10px;
	color: #999999;
}
.xzuo .heng{
	margin-left: 84px;
}

.xzuo .heng li{
	float: left;
	width: 70px;
	text-align: center;
	color: #666666;
}
.xzuo .xiaox{
	float: left;
	height: 1px;
	width: 266px;
	background: #DDDDDD;
	margin: 6px 22px;
}
.xzuo .goukuai{
	margin:22px;
}
.goukuai li{
	width: 266px;
}
.xzuo .goukuai li div{
	float: left;
	width: 30px;
	height: 22px;
}
.goukuai .xiaox2{
	float: left;
	height: 1px;
	width: 266px;
	background: #DDDDDD;
	margin: 6px 0;
}
.xzuox{
	margin: 22px;
}
.zuidi{
	font-size: 14px;
	width: 60px;
	height: 220px;
	float: left;
}
.zuidiy{
	font-size: 14px;
	width: 226px;
	height: 220px;
	margin-left: 40px;
}
.xqr{
	width: 840px;
	height: 1600px;
	margin-left: 314px;
	margin-top: -69px;
}
.xqr .xdh{
	position: relative;
	width: 840px;
	height: 40px;
	background: #D10001;
}
.xqr .xdh .xq{
	border-top: 2px solid #D10001;
	border-left: 2px solid #D10001;
	height: 38px;
	background: white;
	width: 100px;
	line-height: 40px;
	color: #D10001;
	cursor: pointer;
}
.xdh p{
	text-align: center;
}
.xqr .xdh .pinglun{
   cursor: pointer;
	 height: 38px;
	 width: 100px;
	 line-height: 40px;
	 position: absolute;
	 left: 100px;
	 top: 0;
	 background: #D10001;
	 color: white;
	 border-top: 2px solid #D10001;
 	 border-left: 2px solid #D10001;
}
.qimeila{
	margin: 10px;
	font-size: 24px;
	color: #333333;
}
.xqr .tu1{
	opacity: 0;
	position: relative;
	width: 840px;
	height: 475px;
	cursor: pointer;
}
.kaishi{
	transition:all 300ms;
	opacity: 0;
	position: absolute;
	left: 370px;
	top: 170px;
	width: 100px;
	height: 100px;
	z-index: 1;
}
.kaishi img{
	margin-top: 10px;
	margin-left: 4px;
}
.tu1:hover .kaishi{
	transition:all 300ms;
	opacity: 1;
}
.xqr .tu2{
	opacity: 0;
	margin-top: 14px;
	width: 840px;
	height: 360px;
	background: url(../img/three/xq1.png);
}
.xqr .tu3{
	opacity: 0;
	margin-top: 14px;
	width: 840px;
	height: 360px;
	background: url(../img/three/xq3.png);
}
.xqr .tu4{
	opacity: 0;
	margin-top: 14px;
	width: 840px;
	height: 360px;
	background: url(../img/three/xq4.png);
}


.banner{
	opacity: 0;
	margin: 0 auto;
	top:20px;
	left:-23px;
	width:1200px;
	height:400px;
	overflow:hidden;
	position:relative;
}
.banner .img{
	width:3600px;
	height: 400px;
	position:absolute;
	left:0;
	right:0;
}
.banner .img .one{
	width: 1200px;
	height: 400px;
	float:left;
}
.banner .num {
	position:absolute;
	width:100%;
	bottom:10px;
	left:0;
	text-align:center;
	font-size:0px;
}
.banner .num li{
	width:12px;
	height:12px;
	border-radius: 50%;
	background:#999999;
	display:inline-block;
	margin:0 3px;
	cursor:pointer;
	margin-bottom: -10px;
}
.banner .num li.on{
	background:#D10001;
	transition: all 500ms;
}
.banner .btn{
	width:30px;
	height:100px;
	background:rgba(0,0,0,0.3);
	position:absolute;
	top:50%;
	margin-top:-50px;
	cursor:pointer;
	text-align:center;
	line-height:100px;
	color:#FFF;
	font-size:40px;
	font-family:"宋体";
	display:none;
}
.banner:hover .btn{
	display:block;
}
.banner .btn_l{
	left:0;
}
.banner .btn_r{
	right:0;
}


.dabuju{
	margin-top: -40px;
	margin-left: 71px;
	float: left;
	color: #333333;
}
.dabuju li{
	margin-right: 46px;
	width: 230px;
	height: 360px;
	float: left;
	cursor: pointer;
	margin-top: 44px;
}
.dabuju .shang{
	position: relative;
	width: 230px;
	height: 230px;
}
.dabuju .ha{
	width: 228px;
	height: 129px;
	border-bottom: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	text-align: center;
	position: relative;
}
.dabuju .juedi{
	font-size: 20px;
	font-weight: 600;
	padding-top: 16px;
}
.dabuju .rexiao{
	background: #D10001;
	width: 30px;
	height: 16px;
	color: white;
	font-size: 12px;
	position: absolute;
	right: 42px;
	top: 4px;
}
.dabuju .qian{
	color: #D10001;
	font-weight: 600;
}
.dabuju .qian span{
	font-size: 24px;
}
.dabuju .xian{
	height: 1px;
	width: 190px;
	background: #DDDDDD;
	margin: 10px 19px;
}
.dabuju .slg{
	color: #999999;
}
.dabuju .zhezhao{
	opacity: 0;
	position: absolute;
	width: 230px;
	height: 230px;
	background: rgba(0,0,0,0.5);
	top: 0;
	transition: 0.3s;
}
.zhezhao .anniu{
	margin: 0 auto;
	margin-top: 90px;
	width: 124px;
	height: 32px;
	border-radius: 3px;
	background: #D10001;
	color: white;
	text-align: center;
	line-height: 32px;
}
.zhezhao .guanzhu{
	margin: 0 auto;
	width: 56px;
	line-height: 30px;
	height: 30px;
}
.zhezhao .guanzhu img{
	float: left;
	margin-top: 8px;
	margin-right: 2px;
}
.zhezhao p{
	color: #f6f6f6;
}
.dabuju li:hover .zhezhao{
	opacity: 1;
	transition: 0.2s;
}

footer{
	
	width: 1920px;
	height: 110px;
	background: black;
	margin: 0 auto;
}
.footern{
	color: #999999;
	width: 1200px;
	height: 110px;
	background: black;
	margin: 0 auto;
}
.footern ul{
	width: 1200px;
	height: 50px;
	margin-left: 130px;
}
.footern ul li{
	margin-top: 14px;
	float: left;
	margin-left: 30px;
	cursor: pointer;
}
.footern p{
	margin-left: 152px;
	float: left;
}